<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="objectives_css.css">
    <!--    bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta facilityType="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/product/edit}" th:object="${product}" method="post" style="width: 450px;
        height: 450px; margin: 0 auto">
    <input type="hidden" th:field="*{id}">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Product name" aria-label="Username"
               aria-describedby="basic-addon1" th:field="*{name}">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"
               aria-describedby="basic-addon2" th:field="*{productStatus}">
        <span class="input-group-text" id="basic-addon2" >Product Status</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="price" th:field="*{price}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="total" th:field="*{total}">
    </div>
    <div class="input-group mb-3">
        <select th:field="*{productType}">-->
            <option th:each="item:${productTypes}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
    </div>
    <div class="input-group mb-3">
        <select th:field="*{order}">-->
            <option th:each="item:${orderProducts}" th:value="${item.id}" th:text="${item.buyDate}"></option>
        </select>
    </div>
    <p>
        <input type="submit" value="Update product">
    </p>
</form>
<button type="submit" value="close"><a href="/product"></a></button>
</body>
</html>