<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="objectives_css.css">
    <!--    bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">AAA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">AAA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">AAA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/customer/customer/create">CREATE</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/customer/find">
                <select name="type" class="mx-3" >
                    <option th:if="${type} !=''"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                    <option th:value="''"

                            th:text="'--All Type--'">
                    </option>
                    <option th:each="customerTypeList: ${customerTypes}"
                            th:value="${customerTypeList.name}"
                            th:text="${customerTypeList.name}">
                    </option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<table class="table table-dark table-striped-columns">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Product Type</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.productType.name}"></td>
            <td th:text="${product.order.buyDate}"></td>
            <td th:text="${product.order.amount}"></td>
            <td th:text="${product.total}"></td>
            <td><a th:href="@{/product/edit/__${product.id}__}">EDIT</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/product'(page=${products.number - 1})}"
       th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number+1}"></span>
    <span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product'(page=${products.number + 1})}"
       th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>