<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customer/delete-customer}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <!--                    <tr>-->
        <!--                        <td>Id:</td>-->
        <!--                        <td th:text="${customer.id}"></td>-->
        <!--                    </tr>-->
        <tr>
            <td>Name:</td>
            <td th:text="${customer.name}"></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td th:text="${customer.dateOfBirth}"></td>
        </tr>
        <tr>
            <td>Id Card:</td>
            <td th:text="${customer.idCard}"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td th:text="${customer.phoneNumber}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${customer.email}"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td th:text="${customer.gender}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td th:text="${customer.address}"></td>
        </tr>
        <tr>
            <td>Customer Type:</td>
            <td th:text="${customer.customerType.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>

<!--<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel-delete" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel-delete">Xóa khách hàng</h5>-->

<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                Bạn có muốn xóa khách hàng <strong id="nameDelete"></strong>?-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>-->
<!--                <a id="confirmDelete" class="btn btn-danger" type="button">Xoá</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>