<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="objectives_css.css">
    <!--    bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/customer">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/facility">Facility</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/customer/customer/create">CREATE</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/customer/find">
                <input class="form-control me-2" aria-label="Search" type="text" placeholder="Search name"
                       name="name">
                <input class="form-control me-2" aria-label="Search" type="text" placeholder="Search email"
                       name="email">
                <select name="type" class="mx-3" >
                    <option th:if="${type} !=''"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                    <option th:value="''"
                            th:text="'--All Type--'">
                    </option>
                    <option th:each="customerTypeList: ${customerTypes}"
                            th:value="${customerTypeList.name}"
                            th:text="${customerTypeList.name}">
                    </option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<table class="table table-dark table-striped-columns">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Id Card</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Address</th>
        <th scope="col">Customer Type</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="customer : ${customer}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:if="${customer.gender==0}" th:text="Nam"></td>
            <td th:if="${customer.gender==1}" th:text="Nữ"></td>
            <td th:if="${customer.gender==2}" th:text="LBGT"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td><a th:href="@{/customer/edit-customer/__${customer.id}__}">EDIT</a></td>
<!--            modal edit-->
<!--            <td>-->
<!--                <button type="button" class="btn btn-warning"-->
<!--                        th:attr="onclick=|showModalEditCustomer('${customer.id}','${customer.name}', '${customer.dateOfBirth}',-->
<!--                     '${customer.idCard}', '${customer.phoneNumber}', '${customer.email}',-->
<!--                      '${customer.gender}', '${customer.address}', '${customer.customerType.name}'|"-->
<!--                        data-bs-toggle="modal" data-bs-target="#editInfoModal">-->
<!--                    Edit-->
<!--                </button>-->
<!--            </td>-->

<!--                        modal delete-->
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    th:data-customerId="${customer.getId()}"
                                    th:data-customerName="${customer.getName()}"
                                    th:onclick="|showModalDeleteCustomer(this.getAttribute('data-customerId'),this.getAttribute('data-customerName'))|">
                                Delete
                            </button>
                        </td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/customer'(page=${customer.number - 1})}"
       th:if="${customer.hasPrevious()}">Previous</a>
    <span th:text="${customer.number+1}"></span>
    <span th:text="${customer.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customer.number + 1})}"
       th:if="${customer.hasNext()}">Next</a>
</div>
<script>
    function showModalDeleteCustomer(id, name) {
        $('#nameDelete').text(name)
        $('#modalDelete').modal('show');
        document.getElementById("confirmDelete").value = id;
    }
</script>
<!--Modal Xoá-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete <span style="color: red" id="nameDelete"></span>?
                </p>
            </div>
            <div class="modal-footer">
                <form action="/customer/delete"  >
                    <input hidden type="text" name="id" id="confirmDelete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>


<!--modal edit-->
<!--<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <form th:object="${customer}" action="/customer/edit">-->
<!--            <div class="input-group mb-3">-->
<!--&lt;!&ndash;                <input type="text" th:field="*{id}" id="customer-id" hidden>&ndash;&gt;-->
<!--                <span class="input-group-text" id="basic-addon1">@</span>-->
<!--                <input type="text" class="form-control" placeholder="Username / Tên" aria-label="Username"-->
<!--                       aria-describedby="basic-addon1" th:field="*{name}" id="customerName">-->
<!--                <p style="color:red"-->
<!--                   th:errors="*{name}"-->
<!--                   th:if="${#fields.hasErrors('name')}"></p>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-center-group mb-3">-->
<!--                <label name="dateOfBirth">Birth day: </label>-->
<!--                <input class="w-75" type="date" th:field="*{dateOfBirth}" value="dateOfBirth" id="customerBirth">-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">IdCard</span>-->
<!--                <input type="text" class="form-control" placeholder="id card / Cmnd" th:field="*{idCard}" id="customerCard">-->
<!--                <p style="color:red"-->
<!--                   th:errors="*{idCard}"-->
<!--                   th:if="${#fields.hasErrors('idCard')}"></p>-->
<!--                <span class="input-group-text">@</span>-->
<!--                <input type="text" class="form-control" placeholder="phone number" th:field="*{phoneNumber}" id="customerPhone">-->
<!--                <p style="color:red"-->
<!--                   th:errors="*{phoneNumber}"-->
<!--                   th:if="${#fields.hasErrors('phoneNumber')}"></p>-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"-->
<!--                       aria-describedby="basic-addon2" th:field="*{email}" id="customerEmail">-->
<!--                <span class="input-group-text" id="basic-addon2">@gmail.com</span>-->
<!--                <p style="color:red"-->
<!--                   th:errors="*{email}"-->
<!--                   th:if="${#fields.hasErrors('email')}"></p>-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">@</span>-->
<!--                <input type="radio" th:field="*{gender}" value="0">Male-->
<!--                <input type="radio" th:field="*{gender}" value="1">Female-->
<!--                <input type="radio" th:field="*{gender}" value="2">LGBT-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">@</span>-->
<!--                <input type="text" class="form-control" placeholder="address / Địa chỉ" th:field="*{address}" id="customerAddress">-->
<!--                <p style="color:red"-->
<!--                   th:errors="*{address}"-->
<!--                   th:if="${#fields.hasErrors('address')}"></p>-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <select th:field="*{customerType}" id="customerType">&ndash;&gt;-->
<!--                    <option th:each="item:${customerTypes}" th:value="${item.id}" th:text="${item.name}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <p>-->
<!--                <input type="submit" value="Create blog">-->
<!--                <input type="submit" value="close" th:action="@{/customer}">-->
<!--                &lt;!&ndash;        <button type="submit" value="close"><a href="/customer"></a></button>&ndash;&gt;-->

<!--                &lt;!&ndash;        <a href="/customer">back</a>&ndash;&gt;-->
<!--            </p>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="submit" class="btn btn-warning">Save changes</button>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


<!--<script>-->
<!--    function  showModalEditCustomer(id, name ,idCard, dateOfBirth,-->
<!--                                    phoneNumber, email,address, customerType) {-->

<!--        document.getElementById('customer-id').value = id;-->
<!--        document.getElementById('customerName').value = name;-->
<!--        document.getElementById('customerBirth').value = dateOfBirth;-->
<!--        document.getElementById('customerCard').value = idCard;-->
<!--        document.getElementById('customerPhone').value = phoneNumber;-->
<!--        document.getElementById('customerEmail').value = email;-->
<!--        document.getElementById('customerAddress').value = address;-->
<!--        document.getElementById('customerType').value = customerType;-->
<!--    }-->
<!--</script>-->
</html>